#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  
}

html{
  box-sizing: border-box;}
  *,
  *:before, 
  *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }
body {
    /* font-family: 'Indie Flower', cursive; */

    background-color: #cac7c7;
    color: #2c2d2e;
    height:auto;
    width: 100%;
    position : relative;
    font-family:"Quicksand";
    font-size: 1.5ex;
    line-height: 1.375em;
    padding: 0;
    margin: 0;
 
  
  }
  .copy-right{
    color: whitesmoke;
  }
.wrapper{
  width: 100%;
  height: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.nav-container{
  width: 100%;
  height: 20%;
  
}

.nav{
  position: sticky;
  z-index:1;
}
  .col1-row1-title-container{
    background-color: #ffffff;
    /* box-shadow:3px 3px 5px 6px rgb(32, 19, 0); */
    margin-top:70px;
    height:auto;
    width: 100%; 
    padding: 0;
  }
  svg{
    display:block;
    width:100%;
    height:auto;
    margin:0 auto;
  }
  path{
    transition:fill .5s;
    fill:url(#image/Profile-Picture.jpg);
  }
  path:hover{
    fill:pink;
  }
  circle{
    border: #000 solid 1px
  }

#image{
    overflow:hidden;
    border-radius:20px;
    position:relative;
    display:inline-block;
    background-image: url(/image/Profile-Picture.jpg);
}
#image:before, #image:after{
    content:'';
    width: 300px;
    border-radius: 50%;
}
#image:before {
    height: 300px;
    float:left;    
    border: 1px solid black;
    
}
#image:after {
    position:absolute;
    left:14px; top:-6px;
    height:114px;
    box-shadow: 1px 0px 0px 0px #000, 110px 0px 0px 68px #808080;
    background:none;
    z-index:-1;
}
#title {
    width: 300px;
    height: 300px;
    background:black;
    color:  white;
    margin-left:-15px;
    border: 1px solid black;
    border-left:none;
    float:left;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

  .col1-row2-career-path{
    background-color: #ffffff;
    overflow-y: scroll;
    position: relative;
    /* box-shadow:3px 3px 5px 6px  rgb(138, 136, 136); */
    height:auto;
    width: 100%;
    margin-top:20px;
    margin-bottom: 10px;
    padding: 0px;

  }
  .col1-row4-socialmedia{
    background-color: #ffffff;
    /* box-shadow:3px 3px 5px 6px rgb(138, 136, 136); */
    margin-top:20px;
    margin-bottom: 10px;
    width: 100%;


  }
  .contact-socials{
    margin-right:60px;
  }

  /* .col2-row1-nav-bar{
   

  } */
  .col1-row3-skills{
    width: 100%;
    height: auto;
    margin-top:20px;
    background-color: #ffffff;
    /* box-shadow:3px 3px 5px 6px rgb(138, 136, 136); */
    padding: 10px;

  }
  .prog-bar{
    margin-top: 15px;
    padding: 0;
    color: #2D353F;
  }
  .profile-image{
    height: 300px;
    width: 300px;
    margin:10px 10px 10px; 
    border-radius:  50%;
    border-color: 2px solid #46484a;
    padding: 0;
}
.profile-name{
height: 100%;
}
.experience-box{
  
  display: block;
  margin: 20px 20px 10px;
  border-block-end: rgb(138, 136, 136) groove 2px;
  

}
.content-box{
  position: fixed;
  overflow-y: scroll;
}
#last-item{
  border: none;
}
   
.col-2{
  height: 100%;
  /* box-shadow:1px 1px 3px 4px rgb(138, 136, 136); */
  margin-top: 50px;

} 
.card-container{
  margin-top: 50px;
  width: 100%;
  height: auto;
  /* box-shadow:1px 1px 3px 4px rgb(138, 136, 136); */

} 
.cards{
  margin-top:20px;
  margin-bottom: 10px ;
  width:100%;
  height: auto;
}
.slide{
  padding: 10px;
  height: 50%;
  margin: 50px 10px 10px;
  /* box-shadow:1px 1px 3px 4px rgb(138, 136, 136); */

}


.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; /* The height of fixed header */
  background-color: #2D353F;
  text-align: center;
  z-index: 2;
}

/* Content container */
.page-content {
  display: inline-block; /* This is for clearing purpose. */
  margin: 80px 50px 30px; /* Margin top = 80px because of fixed header */
}

/* Nav container */
.page-nav {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  height: 40px; /* This is the same height of each link */
  width: 400px;
  max-width: 100%; /* Responsive behavior */
  overflow: hidden; /* Only current link visible */
  background-color: #427BAB;
}

/* Nav and links */
nav {
  position: relative;
  width: 100%;
  line-height: 40px;
  text-align: center;
}

.contact-form{
  margin-top:10%;
  height: auto;
  width: 100%;
}
form{
  padding: 10px;
  margin-top:0;
}
fieldset {
  position:relative;
  padding-top:50px;
}

legend {
  position:absolute;
  top:20px;
  left:18px;
}​
/* #contact-form{
  padding: 20px;
  margin: 10px 5px 10px;
  border-radius: 5%;
} */

/* .page-footer{
  display:flex;
  margin: 10px 475px 10px;
  list-style-type: none;


}

.page-footer ul{
  align-items:center;

}

.page-footer ul li{
  display:inline-block;
  margin-right: 20px;
  margin-left: 20px;


 } */
